@model CheckInWeb.Models.AddLocationViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add Location</h2>

@*@if(Model.User.Roles != Admin)
{
    <h3>Sorry, only administrators may add new Locations to check into.</h3>
}
else
{
    <h3>Add a form to add a location here</h3>
}*@

